<template>
    <div id="app">
        <box origin="top left" :x="0.5"></box>
    </div>
</template>

<script>
import Box from './lib/components/Box'

export default {
  name: 'app',
  components: {
    Box,
  }
}
</script>

<style>
    @tailwind preflight;
    @tailwind components;
    @tailwind utilities;
    
    #app {
        width: 100vw;
        height: 100vh;
    }
</style>
