<template>
    <div class="box">
        <slot></slot>
    </div>
</template>

<script>
import {Color} from '../classes'
import {TweenMax} from 'gsap'

const propertyWatcherHandler = (property, ctx) => function () {
  const params = {}
  params[`--${property}`] = ctx[property]
  TweenMax.set(ctx.$el, params)
}

export default {
  name: 'Box',
  props: {
    origin: {type: String, required: false, default: 'top left'},
    x: {type: Number, required: false, default: 0},
    y: {type: Number, required: false, default: 0},
    width: {type: Number, required: false, default: 100},
    height: {type: Number, required: false, default: 100},
    scaleX: {type: Number, required: false, default: 1},
    scaleY: {type: Number, required: false, default: 1},
    rotation: {type: Number, required: false, default: 0},
    opacity: {type: Number, required: false, default: 1, validate: input => 0 <= input && input <= 1},
    backgroundColor: {type: Color, required: false, default: () => Color.White},
    borderRadius: {type: String, required: false, default: '0'},
    borderWidth: {type: String, required: false, default: '0'},
    borderColor: {type: Color, required: false, default: () => Color.White},
  },
  computed: {
    originX () {
      const o = this.origin.split(' ')
      return o[o.length - 1]
    },
    originY () {
      return this.origin.split(' ')[0]
    },
  },
  watch: {
    originX () {
      TweenMax.set(this.$el, {'--originX': this.originX})
    },
    originY () {
      TweenMax.set(this.$el, {'--originY': this.originY})
    },
    x () {
      TweenMax.set(this.$el, {'--x': this.x})
    },
    y () {
      TweenMax.set(this.$el, {'--y': this.y})
    }
  },
  mounted () {
    TweenMax.set(this.$el, {
      '--originX': this.originX,
      '--originY': this.originY,
      '--x': this.x,
      '--y': this.y,
    })
  }
}
</script>

<style scoped>
    .box {
        --x: 0;
        --y: 0;
        
        --rotate: 0;
        
        --scaleX: 1;
        --scaleY: 1;
        
        --originX: 'left';
        --originY: 'top';
        
        --opacity: 1;
        
        --backgroundColor: white;
        --borderWidth: 0;
        --borderColor: white;
        --borderRadius: 0;
        
        --width: 10;
        --height: 10;
        
        transform-origin: var(--originX) var(--originY);
        
        transform: translate(calc(var(--x) * 100%), calc(var(--y) * 100%)) rotate(calc(var(--rotate) * 1turn)) scale(var(--scaleX), var(--scaleY));
        opacity: var(--opacity);
        
        background-color: var(--backgroundColor);
        border: calc(var(--borderWidth) * 1px) solid var(--borderColor);
        border-radius: calc(var(--borderRadius) * 1px);
        
        width: calc(var(--width) * 1%);
        height: calc(var(--height) * 1%);
    }
</style>
